<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<!-- MySQL connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/customerhibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Sethukishor@9944750880</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- Hibernate settings -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
	</session-factory>
</hibernate-configuration>